html{
    background-color: #DED9B6;
    font-size: 10px;
}

/* Import Fonts */
@font-face {
    font-family: "Bebas_Neue";
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf)
    format("truetype");
}
@font-face {
    font-family: "Cutive_Mono";
    src: url(../fonts/Cutive_Mono/CutiveMono-Regular.ttf)
    format("truetype");
}
@font-face {
    font-family: "Gurajada";
    src: url(../fonts/Gurajada/Gurajada-Regular.ttf) 
    format("truetype");
}
@font-face {
    font-family: "fredericka_the_great";
    src: url(../fonts/fredericka-the-great/FrederickatheGreat-Regular.ttf) 
    format(truetype);
}
@font-face {
    font-family: "Roboto_Condensed_bold";
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf)format(truetype);
}
@font-face {
    font-family: "Roboto_Condensed_italic";
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf)format(truetype);
}
@font-face {
    font-family: "Roboto_Condensed_light";
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf)format(truetype);
}
@font-face {
    font-family: "Roboto_Condensed_regular";
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf)format(truetype);
}

/* Desktop Styles*/

.main-container{
    display: flex;
    flex-direction: column;
    width:1024px;
    margin: 0 auto;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E0CC34;
    width: 100%;
    height: 100px;
    padding: 2% 0;
    }
.header-container img{
    width: 100px;
    height: 100px;
    margin-left: 5%;
}
.main-container ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
.header-container a{
    margin-right: 5%;
    font-family: "Roboto_Condensed_bold" Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    text-decoration: none;
    color: #615816;
}
.header-container a:hover{
    /* color: #A79E58; */
    text-decoration: underline;
}
.page-hero{
    width: 100%;
    height: 500px;
    background-image: url("../img/beefcake-header-hero.png");
    background-size:cover;
}
.about{
    background-color: #E0CC34;
}
.about h2{
    font-size: 3.5rem;
    padding: 2%;
    text-align: center;
    color: #615816;
    font-family: "Roboto_Condensed_bold" Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    font-weight: bold;
}
.current-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    width: 100%;
    padding: 2% 0;
}
.current-menu h2, h3{
    width: 100%;
    text-align: center;
    color: #615816;
    font-family: "Roboto_Condensed_bold" Arial, Helvetica, sans-serif;
}
.current-menu h2{
    font-weight: bold;
    font-size: 4rem;
    padding-bottom: 2%;
}
.current-menu h3{
    font-size: 3.5rem;
}
.current-menu img{
    width: 30%;
    height: 400px;
    margin: 2% 0;
}
.current-menu img:hover{
    cursor: pointer;
}
/* .current-menu img:active{
    position: absolute;
    top:20%;
    height: 1048px;
    width: 80%;
} */
/* .current-menu img:visited{
    position: absolute;
    top:20%;
    height: 1048px;
    width: 80%;
} */

